.system-settings {
    position: relative;
    overflow: hidden;
    .title {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #888;
    }
    .above-container {
        display: flex;
        justify-content: center;
        background: #fff;
        .center {
            width: 400px;
            padding: 20px;
            margin-left: 20px;
            div {
                width: 100%;
                margin: 20px 0;
                display: flex;
                align-items: center;
                input {
                    margin-right: 5px;
                }
                form {
                    width: 100%;
                }
                .inline {
                    width: 80%;
                }
                label {
                    width: 100%;
                }
            }
            .finance-mode {
                display: flex;
                flex-flow: column;
                margin-left: 20px;
                margin: 0 0 0 20px;
                label {
                    margin: 10px 0;
                }
            }
        }
    }
    .below-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        button {
            width: 100px;
            height: 30px;
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            background: $themeColor;
            border: none;
            outline: none;
        }
        button:hover {
            background: darken($themeColor, 5%);
        }
    }
    .mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 800px;
        background: rgba(0, 0, 0, 0.7);
        div {
            margin-top: 200px;
            color: white;
            font-size: 24px;
            text-align: center;
        }
    }
}