<div class="feedback">
    <div class="feedback-container">
        <div class="title">
            <img src="web/app/img/misc/pic_feedback_title.png">
            <span>反馈</span>
        </div>
        <div class="content">
            <!--<div class="mid-container">
                <span class="cstmr-service">客服团队</span>
                <span class="work-time">工作时间 9:00-18:00</span>
            </div>-->
            <div class="fb-container">
                <textarea name="" id="" cols="30" rows="10" ng-model="feedbackContent"></textarea>
            </div>
        </div>
        <button ng-click="send();">发 送</button>
    </div>
</div>