<!-- 临时 -->
<div class="functionPage">
    <!--     <h1>临时页面</h1>

    <br>

    <label for="">查询员工信息</label>
    <br>

    <label for="">mode</label><input type="text" ng-model="queryUserType" />
    <button ng-click="queryUser(queryUserType)">查询</button>

    <br>
    <hr>

    <label for="">现公司名</label><input type="text" disabled="true" ng-model="companyInfo.name">
    <br>
    <label for="">新公司名</label><input type="text" ng-model="newCompanyName" />
    <button ng-click="changeCompanyNameTo(newCompanyName)">修改</button>

    <br>
    <hr> -->
    <div>测试页面</div>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
            </tr>
        </tbody>
    </table>
    <table id="example" class="display" width="100%">

    </table>
</div>
