<div class="loginAndRegisterMode">
    <div class="content">
        <div class="head" ng-click="gotoOfficialSite()">星云进销存</div>
        <div class="middle">
            <div class="title">选择登陆方式</div>
            <div class="btn-row">
                <button class="xy-btn xy-btn-green" ng-click="gotoAdminLogin()">创建者登录</button>
            </div>
            <div class="btn-row">
                <button class="xy-btn xy-btn-default green" ng-click="gotoStaffLogin()">员工登录</button>
            </div>
            <div class="xy-btn-group">
                <button class="xy-btn xy-btn-default" ng-click="gotoRegister()">没账号？注册创建者账号</button>
            </div>
        </div>
    </div>
</div>