.receipt-fill {
    height: 100%;
    .content-wrap {
        height: 100%;
        overflow-y: scroll;
        .content{
            background: white;
            padding: 50px;
            margin: 50px auto;
            width: 90%;
            max-width: 1024px;
            min-width: 850px;
            .info-box{
                display: flex;
                align-items: center;
                margin-top: 30px;
                padding-left: 12px;
                .row{
                    display: flex;
                    align-items: center;
                    .fu {
                        width: 50px;
                        text-align: center;
                    }
                    label {
                        width: 135px;
                    }
                    input {
                        width: 100px;
                    }
                }
            }
            .remark {
                .title-name-row {
                    margin-top: 50px;
                }
                textarea {
                    width: 50%;
                    height: 150px;
                    margin-top: 30px;
                }
            }
            .time-row {
                margin-top: 50px;
                input {
                    margin-left: 20px;
                    border: none;
                    border-bottom: 1px solid #0C0C0C;
                }
            }
        }
        button {
            display: flex;
            margin: 50px auto;
        }
    }

}
