<html>
<title>{$Think.CONTROLLER_NAME}-服务器控制台</title>
<h1>{$Think.CONTROLLER_NAME}</h1>
<a href={:U("Index/index")}>返回Index</a>
<h2>==============================================</h2>



<body class="metro">

    <div class="container">
        <h1>show_statement</h1>
        <div class="tile-area no-padding clearfix">
            <div class="grid">
            <a href="{:U('StatementOfAccount/show_statement')}&s_guid=7155b8da9fcd205e9bf47eab294f4470">跳转</a>
            </div>
        </div>
    </div>

</body>
</html>