<div class="functionPage">
	<h1>查询</h1>
	<input type="text" placeholder="单据编号/单位名称" />
	<h2>财务</h2>
	<button ng-click="" style="background-color: red;">今日汇总表</button>
	<button ng-click="" style="background-color: red;">往来查询</button>
	<button ng-click="" style="background-color: red;">应收应付</button>

	<h2>历史记录</h2>
	<button ng-click="PageService.setCurrentPage('StockHistory')" style="background-color: green;">库存流水</button>
	<button ng-click="PageService.setCurrentPage('aaa')" style="background-color: red;">财务单据历史</button>
	<button ng-click="PageService.setCurrentPage('aaa')" style="background-color: red;">每日汇总</button>
</div>