<div class="user-info">
    <div class="title">
        <span>用 户 信 息</span>
    </div>
    <div class="content">
        <div>编号：{{_userInfo.sn}}</div>
        <div>
            <div>
                <span>用户名</span>
                <input type="text" ng-model="_userInfo.username" ng-disabled="true">
                <span class="required"></span>
            </div>
            <div>
                <span>密码</span>
                <input type="password" ng-model="_userInfo.password">
                <span class="required">*</span>
            </div>
        </div>
        <div>
            <!--    <span>角色</span>
                    <input type="radio" ng-model="_userInfo.rpg" ng-value="'1'"><span>老板</span>
                    <input type="radio" ng-model="_userInfo.rpg" ng-value="'2'"><span>销售</span>
                    <input type="radio" ng-model="_userInfo.rpg" ng-value="'3'"><span>库管</span>
                    <input type="radio" ng-model="_userInfo.rpg" ng-value="'4'"><span>股东</span> -->
            <div>
                <span>真实姓名</span>
                <input type="text" ng-model="_userInfo.name">
                <span class="required">*</span>
            </div>
            <div>
                <span>电话</span>
                <input type="text" ng-model="_userInfo.mobile" ng-disabled="isAdmin">
                <span class="required"></span>
            </div>
        </div>
        <div>
            <div ng-show='!IsYqjShow'>
                <span>QQ</span>
                <input type="text" ng-model="_userInfo.qq">
                <span class="required"></span>
            </div>
            <div ng-show="IsYqjShow">
                <span>部门</span>
                <select ng-model="department" disabled="disabled" ng-options="item.depart_name for item in departmentList"></select>
                <span class="required"></span>
            </div>
            <div>
                <span>邮箱</span>
                <input type="text" ng-model="_userInfo.email">
                <span class="required"></span>
            </div>
        </div>
        <!--<div class="status">-->
        <!--<span>状态</span>-->
        <!--<input type="checkbox" ng-model="_userInfo.status" ng-true-value="'1'"-->
        <!--ng-false-value="'0'">-->
        <!--</div>-->
        <button ng-click="saveChange();">保 存</button>
    </div>
</div>