.footer{
        position: fixed;
        bottom: 0;
        height: 70px;
        box-shadow: 0 0 8px #555;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: white;
        .time-row {
            width: 300px;
            border: none;
            margin: 0;
        }
        button {
            margin: 0;
        }
    }