.create-edit-warehouse {

  display: flex;
  justify-content: center;
  flex-flow: column;

  .below-title-bar {
    background: #eee;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;

    .create-edit-cat-container {
      height: 400px;
      position: absolute;
      top: 100px;
      left: 100px;
      right: 100px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;

      div {
        width: 60%;
      }

      .input-container {

        div {
          margin-top: 30px;
          width: 100%;
          display: flex;
          align-items: center;
          .stoDefault{
            width: 20px;
            text-align: left;
            padding-left: 12px;
            font-size: 12px;
            cursor: pointer;
          }
          span {
            width: 100px;
            text-align: right;
            font-size: 15px;
            flex-shrink: 0;
            margin-right: 10px;
          }
          label {
            margin-left: 10px;
          }

          input[type=text] {
            width: 100%;
            height: 38px;
            margin-bottom: 8px;
            padding-left: 20px;
            background: #f9f9f9;
            border: none;
            font-size: 15px;
          }
        }
      }

      .create-edit-container {
        margin-top: 50px;
        //height: 78px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
          background: $themeColor;
          height: 32px;
          /*width: 159px;*/
          padding-left: 48px;
          padding-right: 48px;
          color: #fdfdfd;
          border: none;
          outline: none;
          font-weight: bold;
          font-size: 15px;
        }
      }
    }
  }
}