<html>
<title>{$Think.CONTROLLER_NAME}-服务器控制台</title>
<h1>{$Think.CONTROLLER_NAME}</h1>
<a href={:U("Index/index")}>返回Index</a>
<h2>==============================================</h2>


<form class="form-signin" method="post" action="{:U('Auth/test')}">
  <h1>test</h1>
  <button class="btn btn-lg btn-success btn-block" type="submit">test</button>
</form>

<form class="form-signin" method="post" action="{:U('Auth/setUserGroup')}">
  <h1>setUserGroup</h1>
  <label>uid:</label>
  <input type="text" id="inputEmail" name="uid" value='1'>
  <label>group_id:</label>
  <input type="text" id="inputEmail" name="group_id" value='1'>
  <button class="btn btn-lg btn-success btn-block" type="submit">提交</button>
</form>


<form class="form-signin" method="post" action="{:U('Auth/createUserGroup')}">
  <h1>createUserGroup</h1>
 <!--  <label>title:</label>
  <input type="text" id="inputEmail" name="title" value='this is title'>
  <label>status:</label>
  <input type="text" id="inputEmail" name="status" value='1'>  <label>rules:</label>
  <input type="text" id="inputEmail" name="rules" value=''> -->
  <button class="btn btn-lg btn-success btn-block" type="submit">提交</button>
</form>


<form class="form-signin" method="post" action="{:U('Auth/createAuthRule')}">
  <h1>createAuthRule</h1>
  <button class="btn btn-lg btn-success btn-block" type="submit">提交</button>
</form>
