<html>
<title>{$Think.CONTROLLER_NAME}-服务器控制台</title>
<h1>{$Think.CONTROLLER_NAME}</h1>
<a href={:U("Index/index")}>返回Index</a>
<h2>==============================================</h2>



<body class="metro">

    <div class="container">
        <h1>create</h1>
        <div class="tile-area no-padding clearfix">
            <div class="grid">
              <form id="form" method="post" action="{:U("Phonenum/createPhonenum")}">
                  <div class="tile-group three">
                      <div class="row">
                               <label><font color=black>cid*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="cid" type="text" autofocus="" value='1'>
                                </div>

                                <label><font color=black>contact_id*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="contact_id" type="text" autofocus="" value='1'>
                                </div>

                                <label><font color=black>mobile</font></label>
                                <div class="input-control text" data-role="input-control">
                                   <input name="mobile" type="text" value='57128121110'>
                                </div>

                            <div class="row">
                          <input value="提交" type="submit">
                        </div>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container">
        <h1>edit</h1>
        <div class="tile-area no-padding clearfix">
            <div class="grid">
              <form id="form" method="post" action="{:U("Phonenum/editPhonenum")}">
                  <div class="tile-group three">
                      <div class="row">
                                <label><font color=black>contact_id*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="contact_id" type="text" autofocus="" value='1'>
                                </div>
                                
                               <label><font color=black>phonenum_id*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="phonenum_id" type="text" autofocus="" value='1'>
                                </div>

                                <label><font color=black>mobile*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="mobile" type="text" autofocus="" value='153'>
                                </div>

                                <div class="row">
                              <input value="提交" type="submit">
                            </div>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container">
        <h1>delete</h1>
        <div class="tile-area no-padding clearfix">
            <div class="grid">
              <form id="form" method="post" action="{:U("Phonenum/deletePhonenum")}">
                  <div class="tile-group three">
                      <div class="row">
                                <label><font color=black>phonenum_id*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="phonenum_id" type="text" autofocus="" value='1'>
                                </div>
                                
                                <div class="row">
                              <input value="提交" type="submit">
                            </div>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>

    
</body>
</html>