<html>
<title>{$Think.CONTROLLER_NAME}-服务器控制台</title>
<h1>{$Think.CONTROLLER_NAME}</h1>
<a href={:U("Index/index")}>返回Index</a>
<h2>==============================================</h2>



<body class="metro">

    <div class="container">
        <h1>create_（如已存在会更新）</h1>
        <div class="tile-area no-padding clearfix">
            <div class="grid">
              <form id="form" method="post" action="{:U("PrintTemplate/create_")}">
                  <div class="tile-group three">
                      <div class="row">
                               <label><font color=black>class*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="class" type="text" value="1">
                                </div>

                                <label><font color=black>font_size*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="font_size" type="text" value="12">
                                </div>

                                <label><font color=black>optionArray*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="optionArray" type="text" value="[1,1,1,1,1,0]">
                                </div>

                                <label><font color=black>content*</font></label>
                               <div class="input-control text" data-role="input-control">
                                   <input name="content" type="text" value="wpj">
                                </div>

                            <div class="row">
                          <input value="提交" type="submit">
                        </div>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <form id="form" method="post" action="{:U("PrintTemplate/get_")}">
      <h1>get_</h1>
      <label><font color=black>class*</font></label>
       <div class="input-control text" data-role="input-control">
           <input name="class" type="text" value='1'>
        </div>
        <input value="查询" type="submit">
  </form>


</body>
</html>